* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body .header {
  margin: 0 auto;
  width: 100%;
}
body .container {
  padding: 10px;
}
body a {
  text-decoration: none;
  color: #000;
}
body a:hover {
  color: #ff6600;
}
body .tituloSeccion {
  font-size: 1.5rem;
  color: #ff6600;
  font-weight: bold;
  padding-left: 50px;
}
body .iconoSeccion {
  width: 40px;
}
body .footer .seccionFooter {
  background-color: #e0e3e4;
}
body .footer .imgPiePagina {
  margin-right: 10px;
  width: 25px;
}
body .footer .tituloPie {
  font-size: 1rem;
  color: #000;
  font-weight: bold;
}
body .footer .contenidoPie {
  font-size: 14px;
}

.copyright {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

header .navbar {
  background-color: #e0e3e4;
}
header .navbar .logo {
  padding-left: 100px;
  width: 300px;
}
header .navbar .item-menu {
  padding-right: 30px;
}
header .navbar .item-menu .linkMenu {
  padding: 1rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  color: #000;
}
header .navbar .item-menu .linkMenu:hover {
  color: #ff6600;
}
header .navbar .itemMenuImgNav {
  display: inline-block;
  padding-top: 10px;
}
header .navbar .itemMenuImgNav .linkImgMenu {
  padding: 10px;
}
header .navbar .itemMenuImgNav .linkImgMenu .imgRedes {
  width: 25px;
}

.formContacto {
  width: 80%;
  border: #e0e3e4 solid 1px;
  border-radius: 5%;
  padding: 20px;
}

.seccionHome .iconoHome {
  width: 25px;
  vertical-align: middle;
}
.seccionHome .tituloHome {
  font-size: 1.5rem;
  color: #ff6600;
  font-weight: bold;
}
.seccionHome .textoHome {
  font-size: fontSize;
  color: color;
  font-weight: normal;
  line-height: 1.5rem;
}
.seccionHome .imgCal {
  width: 300px;
}

.videoQuienesSomos {
  width: 100%;
  height: 250px;
}

.textoQuienesSomos {
  font-size: fontSize;
  color: color;
  font-weight: normal;
  line-height: 1.5rem;
}

.fotoNosotros {
  width: 300px;
  padding-bottom: 20px;
}

.fichaVehiculo {
  padding-top: 20px;
}

.textoVehiculos {
  font-size: fontSize;
  color: color;
  font-weight: normal;
  line-height: 1.5rem;
  padding-left: 50px;
}

.terminosCondiciones {
  font-size: 0.9rem;
}

.precioVehiculo {
  font-size: 1.2rem;
  font-weight: bold;
  color: #3066be;
}

.datosVehiculo {
  color: #000;
  font-size: 0.9rem;
}

.textoSucursales {
  font-size: fontSize;
  color: color;
  font-weight: normal;
  line-height: 1.5rem;
  padding-left: 50px;
}

.fichaSucursales {
  padding-top: 20px;
}

.mapaSucursales {
  width: 100%;
  height: 250px;
}

.tituloSucursal {
  font-size: 0.9rem;
  font-weight: bold;
}

.descripcionSucursal {
  font-size: 0.9rem;
}

.textoContactenos {
  font-size: fontSize;
  color: color;
  font-weight: normal;
  line-height: 1.5rem;
}

.fotoContactenos {
  justify-self: center;
  align-self: center;
}

.imgContactenos {
  width: 250px;
}

/***********************************************************************************/
/*#region PARA PARA EL RESPONSIVE MOBILE  ---------------------------------------------------- */
/* Responsive para Mobile */
@media only screen and (max-width: 768px) {
  body .tituloSeccion {
    font-size: 1rem;
    color: #ff6600;
    font-weight: bold;
  }
  body .iconoSeccion {
    width: 25px;
  }
  body .footer {
    /*Estilos para PIE DE PAGINA*/
  }
  body .footer .seccionFooter {
    background-color: #e0e3e4;
  }
  body .footer .imgPiePagina {
    margin-right: 5px;
    width: 15px;
  }
  body .footer .tituloPie {
    font-size: 0.8rem;
    color: #000;
    font-weight: bold;
  }
  body .footer .contenidoPie {
    font-size: 0.8rem;
  }
  header .navbar .logo {
    padding-left: 0px;
    width: 150px;
  }
  header .navbar .item-menu .linkMenu {
    font-size: 0.7rem;
  }
  header .navbar .itemMenuImgNav .linkImgMenu .imgRedes {
    width: 20px;
  }
  /* Seccion de Home*/
  .seccionHome {
    /* Seccion de Calidad*/
  }
  .seccionHome .iconoHome {
    width: 15px;
    vertical-align: middle;
  }
  .seccionHome .tituloHome {
    font-size: 1rem;
    color: #ff6600;
    font-weight: bold;
  }
  .seccionHome .textoHome {
    font-size: 0.8rem;
  }
  .seccionHome .imgCal {
    width: 150px;
    padding-bottom: 15px;
  }
  /* Estilos para la tabla de vehiculos*/
  .precioVehiculo {
    font-size: 1rem;
    font-weight: bold;
    color: #3066be;
  }
  .datosVehiculo {
    color: #3066be;
    font-size: 0.7rem;
  }
  /* Estilos para seccion Quienes Somos*/
  .textoQuienesSomos {
    padding-top: 10px;
    font-size: 0.8rem;
  }
  .fotoNosotros {
    width: 250px;
  }
  /*#Estilos para Vehiculos ---------------------------------------------------- */
  .textoVehiculos {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  /*#Estilos para Sucursales ---------------------------------------------------- */
  .textoSucursales {
    font-size: 0.8rem;
    padding-left: 20px;
    padding-right: 10px;
  }
  .tituloSucursal {
    font-size: 0.8rem;
  }
  .descripcionSucursal {
    font-size: 0.8rem;
  }
  /*#Estilos para Contactenos ---------------------------------------------------- */
  .textoContactenos {
    font-size: 0.8rem;
    padding-left: 20px;
    padding-right: 20px;
  }
  .fotoContactenos {
    justify-self: center;
    align-self: center;
  }
  .imgContactenos {
    width: 120px;
  }
  /*Estilo para los formularios*/
  .formContactenos {
    padding-left: 30px;
    width: 90%;
  }
  .formContacto {
    width: 100%;
  }
  .copyright {
    font-size: 0.5rem;
  }
}
/*#endregion*/