* {
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-sans;

  .header {
    margin: 0 auto;
    width: 100%;
  }

  .container {
    padding: 10px;
  }

  a {
    text-decoration: none;
    color: $colorNegro;
    &:hover {
      color: $colorNaranja;
    }
  }

  .tituloSeccion {
    @include funcTitulo(1.5rem,$colorNaranja);
    padding-left: 50px;
  }

  .iconoSeccion {
    width: 40px;
  }

  .footer {
    .seccionFooter {
      background-color: $colorGris;
    }

    .imgPiePagina {
      margin-right: 10px;
      width: 25px;
    }

    .tituloPie {
      @include funcTitulo(1rem,$colorNegro);
    }

    .contenidoPie {
      font-size: 14px;
    }
  }
}

.copyright {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 10px;
}
