.fichaVehiculo {
  padding-top: 20px;
}

.textoVehiculos {
  @include funcTextoSeccion(1rem, $colorNegro);
  padding-left: 50px;
}

.marcaVehiculo{
  font-weight: bold;
}

.terminosCondiciones {
  font-size: 0.9rem;
}

.precioVehiculo {
  font-size: 1.2rem;
  font-weight: bold;
  color: $colorAzul;
}

.datosVehiculo {
  color: $colorNegro;
  font-size: 0.9rem;
}
